.button {
    display: inline-block;
    font-size: var(--fz-project);
    color: var(--color-white-main);
    padding: 7px 22px;
    background-color: var(--color-black-button);
    border-radius: 30px;

    transition: background-color 0.2s ease-in, top 0.2s ease-in;
}

.button:hover, .button:focus {
    background-color: #323232;
}

.button:active {
    position: relative;
    top: 1px;
    background-color: #000000;
}