.header {
    background-color: var(--color-header-500);
    padding-top: 46px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
}

.header__row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.header__content {
    max-width: 500px;
    margin-top: 124px;
}